/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wpclear h3.nav-tab-wrapper {
    margin:0 0 1em;
    padding-bottom: 1em;
}

.wpclear .hr {
    margin: 1em 0;
    display: block;
    width: 50%
}

.wpclear .note {
    margin: .6em 0;
    font-size: 14px;
}





